{% extends 'layout.html' %}

{% block title %} Listado de articulos {% endblock %}

{% block content %}

    <div  class="listado">
        <h1> Listado de articulos</h1>
        <ul>
            {% for articulo in articulos %}
                <li>
                    <h4>{{articulo.id}} {{articulo.title}}</h4>
                    <span>{{articulo.created_at}}</span>
                    {% if articulo.public %}
                        <strong>Publicado</strong>
                    {% else %}
                        <strong>Privado</strong>
                    {% endif %}
                    <p>
                        {{articulo.content}}
                        <br>
                        <a href="{% url 'borrar' id=articulo.id%}">Eliminar</a>
                    </p>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}