{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}| Orlin Diaz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div id="logotipo">
            <img src="{% static "imagenes/logo.png"%}"/>
            <h1>Sitio Web con Django | {{nombre}}{{apellidos}}</h1>
        </div>
    </header>

    <div class="navegacion">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'inicio'%}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'articulos'%}">Articulos</a>
                </li>
                <li>
                    <a href="{% url 'prueba'%}">Hola mundo</a>
                </li>
                <li>
                    <a href="{% url 'pagina'%}">Pagina de Pruebas</a>
                </li>
                <li>
                    <a href="{% url 'contacto' 'Orlin' 'Diaz' %}">Telefono</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="barra">
        <span class="esquina-izquierda"> </span>
        <span class="relleno-barra"> </span>
        <span class="esquina-derecha"> </span>
    </div>

    <div class="contenido">
        <h2 class="title">
        {% block content %}
            <strong>contenido desde layout</strong>
        {% endblock %}
        </h2>
    </div>

    <footer>
        <div class="pie">Master en Python &copy; Orlin Diaz {% now 'd-m-Y' %}</div>
    </footer>
</body>
</html>