{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">{{message}}</div>
        {% endfor %}
    {% endif %}
    <hr/>
    {% if user.email %}
        <h2>Bienvenid@ {{request.user.first_name}} {{user.last_name}}</h2>
        <p>{{user.email}}</p>
    {% else %}
        <h2>Identificate para ver mas cosas</h2>
    {% endif %}
{% endblock content %}